body {
    background-color: #333;
    overflow-x: hidden;
}

main {
    position: relative;
    min-height: 100vh;
}

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.main .row .col-sm-7 img {
    margin-top: 80px;
}

main div div div div p {
    font-size: 2rem;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Examinar..";
}
.custom-file-label::after {
    content: "Examinar..";
}
