body {
  overflow-x: hidden;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

main {
  margin: 100px auto;
  margin-bottom: 2.5rem;
}

.registro {
  width: 900px;
  height: 390px;
  padding: 3% 5%;
  background-color: #dddddd;
  border-radius: 1vh;
}

.inicio,
.data {
  padding: 3%;
  background-color: #dddddd;
  border-radius: 1vh;
}

.comentarios {
  padding: 0.5% 1.5%;
  background-color: #dddddd;
}

.data {
  display: block;
  margin: 3%;
}

hr.w-100 {
  border-width: 0.2rem;
  border-color: #333;
}

.row.justify-content-end i.fas {
  margin: 5px;
  font-size: 3rem;
  text-decoration: none;
  color: #333;
}

.image-perfile {
  float: right;
  background-color: #333;
  width: 250px;
  height: 250px;
}

.registro input::placeholder,
.data input::placeholder,
.inicio input::placeholder,
.comentarios input::placeholder {
  text-align: center;
}

.inicio .form-group {
  padding: 0 15%;
}

.registro div.form-group {
  display: flex;
  justify-content: space-between;
}

.registro .custom-checkbox {
  display: flex;
  justify-content: center;
}

.mt-3.btn.btn-warning,
.mt-3.btn.btn-secondary {
  font-weight: bold;
}
